<div id="aviso-cookies" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="max-width:80%;">
    <div class="card">
        <div class="card-content">
            <p>{{ config.cookiesAdviceText }}. <a href="{{ config.cookiesAdviceMoreInfoUrl }}" class="has-text-grey-light">{{ config.cookiesAdviceMoreInfoAnchor }}.</a></p>
            <div class="buttons mt-4">
                <a type="button" id="aceptar-cookies" class="button is-dark">Allow</a>
                <a type="button" id="rechazar-cookies" class="button is-white has-text-grey is-small">Refuse</a>
            </div>
        </div>
    </div>
  </div>
</div>