---
title: Once
---

{% include "head.njk" %}

<body class="is-flex is-flex-direction-column">
  {% include "nav.njk" %}

  {% topIndexAd %}

  {{ content | safe }}

  {% include "footer.njk" %}
</body>

</html>