---
title: Título Artículo

---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    <section class="section is-flex-grow-1">

       {% topPostMinimalAd %}

      <div class="container articulo content">

        {{ content | safe }}

        {% bottomContentPostMinimalAd %}

      </div>

    </section>


    {% include "footer.njk" %}
  </body>

</html>