<div class="social-flotante is-hidden-touch pl-6">
  <ul>
    <li><a href="https://www.facebook.com/sharer.php?u={{ config.domain }}{{ page.url }}" class="button" aria-label="facebook share button" rel="nofollow noreferrer" target="_blank"><span class="icon">{% facebookDarkIcon %}</span></a></li>
    <li><a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ config.domain }}{{ page.url }}" class="button" aria-label="twitter share button" rel="nofollow noreferrer" target="_blank"><span class="icon">{% twitterDarkIcon %}</span></a></li>
    <li><a href="http://pinterest.com/pin/create/button/?url={{ config.domain }}{{ page.url }}&description={{ title }}&media={{ config.domain }}{{featuredImage}}" class="button" aria-label="pinterest share button" rel="nofollow noreferrer" target="_blank"><span class="icon">{% pinterestDarkIcon %}</span></a></li>
    <li><a href="mailto:?subject={{ title }}&body=Visita este enlace: {{ config.domain }}{{ page.url }}" class="button" aria-label="mail share button" rel="nofollow noreferrer" target="_blank"><span class="icon">{% mailIcon %}</span></a></li>
    <li class="is-hidden-tablet"><a href="whatsapp://send?text={{ config.domain }}{{ page.url }}" class="button" aria-label="whatsapp share button" rel="nofollow noreferrer"><span class="icon">{% whatsappIcon %}</span></a></li>
  </ul>
</div>

