
<div class="tarjeta">

  <figure class="image is-5by3">
    <a href="{{ item.url }}">
      <img src="{{item.data.featuredImage}}" alt="{{item.data.title}}" loading="lazy">
    </a>
  </figure>

  <div class="p-3">
    {% set comma = joiner() %}
    {% for tag in item.data.tags %}
      {{ comma() }} <a href="/tags/{{ tag }}" class="is-uppercase is-size-7 has-text-grey-dark">{{ tag }}</a>
    {% endfor %}
    <h3 class="tarjeta-title mt-0 mb-4 is-size-4 has-text-weight-bold has-text-grey-dark"><a href="{{ item.url }}" class="has-text-dark">{{ item.data.title }}</a></h3>
    <p class="has-text-grey-dark">{{ item.data.description | descriptionLength }}</p>
  </div>

</div>

